MONGO_URI='mongodb://dustein:OP0RfwW9i5eKkkuQ@cluster0-shard-00-00.5iskh.mongodb.net:27017,cluster0-shard-00-01.5iskh.mongodb.net:27017,cluster0-shard-00-02.5iskh.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-pwyidq-shard-0&authSource=admin&retryWrites=true&w=majority'
